<!-- bloc pour afficher les réseaux sociaux -->

<div class="col-12">
  <div class="card widget-card border-light shadow-sm">
    <div class="card-header text-bg-primary d-flex align-items-center justify-content-between">
      <span>Réseaux Sociaux</span>
      <button id="openModalKeywords" class="btn">
        <a href="#!" class="d-inline-block link-light lh-1 rounded"><svg class="bi"><use xlink:href="#plus-circle"/></svg></a>
      </button>
    </div>
    <div class="card-body">
      <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
        <i class="bi bi-tiktok"></i>
      </a>
      <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
        <i class="bi bi-youtube"></i>
      </a>
      <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
        <i class="bi bi-twitter-x"></i>
      </a>
    </div>
  </div>
</div>