<nav class="navbar navbar-expand-lg bg-grey fixed-top shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/index/logo_navbar.webp" alt="Logo" height="45" class="d-inline-block align-text-top me-2" onerror="this.style.display='none'">
            <!-- <span class="brand-text ms-2">Logo</span> -->
        </a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/races">
                            <i class="fas fa-file-alt me-1"></i>Races
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chiens">
                            <i class="fas fa-dog me-1"></i>Chiens
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chiots">
                            <i class="fas fa-paw me-1"></i>Chiots
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mariages">
                            <i class="fas fa-venus-mars me-1"></i>Mariages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">
                            <i class="fas fa-blog me-1"></i>Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/informations">
                            <i class="fas fa-info-circle me-1"></i>Informations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/livre-d-or">
                            <i class="fas fa-book-open me-1"></i>Livre d'Or
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success text-white rounded-pill px-4 ms-lg-2 mt-3 mt-lg-0" href="/contact">
                            <i class="fas fa-envelope me-2"></i>Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>