
/* fixer la taille des images */
.fixed-size-image {
    width: 100%; 
    height: 150px;
    object-fit: cover; 
    object-position: center;
}
/* bordure bleu pour l'image sélectionnée */
.selected-photo {
    border: 2px solid blue;
}

.transition-smooth {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.text-primary-breed{
    color: #9e7af3!important;
    border:none;
}