h1 {
    color: #fff;
}

.lead {
    color: #aaa;
}

.wrapper {
    margin: 10vh;
}

/* post card styles */
.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border: 1px solid #575555;
    border-radius: 20px;
    padding: 10px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(104, 103, 103, 0.2);

    @media (max-width: 768px) {
        min-height: 350px;
    }

    @media (max-width: 420px) {
        min-height: 300px;
    }

    &.card-has-bg {
        position: relative;
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center center;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            z-index: 0;
            filter: grayscale(100%);
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:hover:before {
            filter: blur(5px) grayscale(100%); /* Ajouter l'effet de flou au passage de la souris */
        }

        .card-img-overlay {
            position: relative;
            z-index: 1;
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:hover {
            transform: scale(0.98);
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
            background-size: 130%;
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    .card-footer {
        background: none;
        border-top: none;
        .media img {
            border: solid 3px rgba(255, 255, 255, 0.3);
        }
    }

    .card-title {
        font-weight: 800;
    }

    .card-meta {
        color: #cfa636;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 25px;
    }

    .card-body {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: background-color 0.3s ease;
    }

    &:hover .card-body {
        margin-top: 30px;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background-color: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
        padding: 10px; /* Ajouter du padding pour éviter que le texte ne touche les bords */
        border-radius: 10px; /* Arrondir les bords */
    }

    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    
}

@media (max-width: 767px) {
    /* Responsive styles */
}

/* Styles existants pour l'élément */
.card-img {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}


.view-puppies-btn {
    background-color: #007bff; /* Couleur bleue */
    border: 2px solid #cfa636; /* Bordures jaunes */
    border-radius: 25px; /* Bordures arrondies */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.view-puppies-btn:hover {
    background-color: #0056b3; /* Couleur bleue foncée au survol */
    border-color: #a98029; /* Bordures jaunes foncées au survol */
}

#father-image {
    border: 2px solid #007bff; /* Bordure bleue */
    padding: 1px; /* Pour créer un espace entre l'image et la bordure */
    box-sizing: border-box; /* Pour inclure la bordure et le padding dans les dimensions de l'image */
}

#mother-image {
    border: 2px solid #e681b3; /* Bordure rose */
    padding: 1px; /* Pour créer un espace entre l'image et la bordure */
    box-sizing: border-box; /* Pour inclure la bordure et le padding dans les dimensions de l'image */
}

/* Assurez-vous que les images restent rondes */
.rounded-circle {
    border-radius: 50%;
}

.status-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    z-index: 10;
}

.status-online {
    background-color: green;
}

.status-offline {
    background-color: red;
}

.input-group {
    align-items: center;
}

.input-group .input-group-text {
    height: auto;
}

