.gallery-item{display:block;overflow:hidden;border-radius:10px;transition:transform 0.3s ease}.gallery-item:hover{transform:scale(1.02)}.gallery-item img{width:100%;height:200px;object-fit:cover}

.fancybox-wrapper {
    cursor: pointer;
}