<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <span>
            <h1 class="h2 breeder-title"> Élevage <%= user.kennel_name %></h1>
            <h4 class="h2 page-title" id="page-title"></h4>
        </span>
    </div>